<!-- 질문 폼 템플릿( base.html 템플릿 상속함)-->
{% extends 'base.html' %}
{% block content %}

<main id="main" class="main">
    <div class="container">
      <div class="sharedcard-pagetitle">
      <h1 class="text-center my-5">일기쓰고 문법 검토하기</div></h1>
      <h4 class="my-7 pb-2"></h4>
      <div class="row">
        <div class="col-md-6">
          <form method="POST" action="{{ url_for('grammar.correct_grammar_api') }}">
            <div class="form-group">
              <div class="card-body">
                <h4 class="my-3 pb-2" class="card-body">제목을 적어주세요.</h4>
                <textarea type="text" class="form-control" name="subject" id="subject" rows="1"
                          value="{{ 'form.subject()' }}"></textarea>
              </div>
              <div class="card-body">
              <h4 class="my-3 pb-2" class="card-body">이야기를 들려주세요!</h4>
              <textarea type="text" class="form-control" name="sentence" id="sentence" rows="12"
                        value="{{ 'form.content()' }}"></textarea>
              </div>
              <br>
             {% if g.user %}
             <button type="submit" name="review" value="review" class="general_button">검토하기</button>
             {% else %}
             <button type="submit" name="review_0" value="review_0" class="general_button">검토하기</button>
              {% endif %}
            </div>
        </div>
        {% if sentence %}
        {% if highlighted_diff %}
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Correction</div>
              <div class="card-body">
                <h5 class="card-title">Before</h5>
                <p class="card-text">{{ sentence }}</p>
                <h5 class="card-title">After</h5>
                <textarea class="form-control" name="sentence" id="sentence" rows="6">{{ corrected_sentence }}</textarea>
                <h5 class="card-title">오답노트</h5>
                <p>{{ highlighted_diff }}</p>


              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          </form>
</main>

{% endblock %}