{% extends 'base.html' %}
{% block content %}

  <main id="main" class="main">

    <div class="index_pagetitle">
      <br>
      <h1>Hello!</h1>
      <br/>
      <h2>숨가쁘게 달려온 오늘,<br><br> 당신의 하루는 어땠나요?<br/><br>
       AI와 영어로 마무리하는 나의 하루.</h2>
    </div><!-- End Page Title -->


  <div id="index_button" class="index_button">

    {% if g.user %}
    <button type="button" class="general_button" onclick="location.href='{{ url_for('diary.create') }}'">시작하기</button>
    {% else %}
    <button type="button" class="general_button" onclick="location.href='{{ url_for('diary.create') }}'">시작하기</button>
    <button type="button" class="general_button" onclick="location.href='{{ url_for('auth.login') }}'">로그인</button>
    {% endif %}
  </div>


  </main>
  <!-- End #main -->
  {% endblock %}
